body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.flag {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}



.pakistan {
    background: #01411C;
}

.white-strip {
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    background: white;
}

.crescent {
    position: absolute;
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    top: 45px;
    left: 120px;
}

.crescent::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: #01411C;
    border-radius: 50%;
    top: 10px;
    left: 20px;
}

.star {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 60px;
    left: 180px;
}



.japan {
    background: white;
    border: 1px solid #ccc;
}

.sun {
    width: 100px;
    height: 100px;
    background: #BC002D;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 100px;
}

/* ---------------- Turkey ---------------- */

.turkey {
    background: #E30A17;
}

.crescent-turkey {
    position: absolute;
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    top: 45px;
    left: 80px;
}

.crescent-turkey::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: #E30A17;
    border-radius: 50%;
    top: 10px;
    left: 20px;
}

.star-turkey {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 65px;
    left: 160px;
}